.left{
	display: flex;
	justify-content: flex-start;
	width: 150px;
	height: 150px;
	transition: all 2s ;
	 background: transparent;
}
.left:hover{
	transform: scale(1.1);
	overflow-x: hidden;
}